/* ┌─────────────────────────────────────────┐
   │ 共通                        │
   └─────────────────────────────────────────┘ */

/* 全体の共通ルール */
body {
  width: 100%;
  font-family: "Yu Gothic", sans-serif;
  margin: 0 auto;
}

:root {
  /* ▼ ここで「var(--sidebar-width)」を一括管理！ */
  --sidebar-width: 15rem;
}
.aa {
  left: var(--sidebar-width);
}

/* ┌─────────────────────────────────────────┐
   │ header      画面の切り替え後の赤い画面     │
   └─────────────────────────────────────────┘ */

/* ｈｅａｄｅｒ共通クラス */
#header_area {
  background-color: #ffffff;
}

/* 画面聞切り替え（ハンバーガーメニューによって）時  背景  */
.nav_red {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  background-color: #ff0000;
  transition: opacity 0.3s, visibility 0.3s;
}

.nav_red.open {
  opacity: 1;
  visibility: visible;
  background-color: #ff0000;
}

/* 画面聞切り替え（ハンバーガーメニューによって）時　ロゴ */
.logo_red {
  margin-top: 4rem;
  margin-left: 5rem;
  width: 12rem;
  height: auto;
}

.nav_links {
  display: block;
  color: #ffffff;
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 3rem;
  text-align: center;
  color: white;
  font-size: 3rem;
}

.red_link {
  color: white;
  text-decoration: none;
}

/* 画面聞切り替え（ハンバーガーメニューによって）時　ロゴ */
.red_request {
}

/* ┌─────────────────────────────────────────┐
   │ ハンバーガーメニュー                        │
   └─────────────────────────────────────────┘ */

/* ハンバーガーメニュー */
.hamburger_menu {
  position: fixed;
  top: 1.5rem;
  right: 2rem;
  width: 4.5rem;
  height: 4.5rem;
  cursor: pointer;
  z-index: 1000; /* メニューが他の要素より前に表示されるようにする */
  background-color: white;
}

.bar {
  position: absolute;
  transition: 0.3s;
  left: 0;
  height: 0.4rem;
  width: 100%;
  background: black;
}

.bar:nth-child(1) {
  top: 0.8rem;
}
.bar:nth-child(2) {
  top: 2.2rem;
}
.bar:nth-child(3) {
  top: 3.6rem;
}

/* ┌─────────────────────────────────────────┐
   │ ハンバーガーメニュークリック時の動作       │
   └─────────────────────────────────────────┘ */

/* ハンバーガーメニューがおされたら、「×」にする */
.hamburger_menu.open .bar:nth-child(1) {
  transform: rotate(45deg);
  top: 2rem;
}
.hamburger_menu.open .bar:nth-child(2) {
  opacity: 0;
}
.hamburger_menu.open .bar:nth-child(3) {
  transform: rotate(-45deg);
  top: 2rem;
}
