@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "游ゴシック体", "YuGothic", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  letter-spacing: 0.1em;
  color: #333;
  padding: 40px 0;
}

/* セクションタイトル */
.section-title {
  font-size: 2.25rem;
  margin-bottom: 100px;
  text-align: center;
  position: relative;
}

.section-title::after {
  content: "";
  width: 100px;
  height: 3px;
  background-color: #333;
  display: block;
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

/* BBBが選ばれる理由 */
#reason .bg {
  background-color: #ff2a2a;
  padding: 80px 0;
}

.slide {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 5%;
  opacity: 0;
}

.slide img {
  width: auto;
  height: 60px;
  margin-right: 30px;
}

.slide .title {
  color: #ff2a2a;
  display: block;
  font-size: 1.75rem;
  font-weight: bold;
}

.slide .text {
  display: block;
  font-size: 1.125rem;
}

/* 左からスライド */
.slide-left {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 40px;
  animation: slideFromLeft 0.8s ease-out 0.3s 1 forwards;
}

@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* 右からスライド */
.slide-right {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-left: auto;
  animation: slideFromRight 0.8s ease-out 0.6s 1 forwards;
}

@keyframes slideFromRight {
  0% {
    opacity: 0;
    transform: translateX(150%);
  }
  100% {
    opacity: 1;
    transform: translateX(100%);
  }
}
